@font-face {
    font-family: "myriadpro-regular";
    src: url(media/font/MYRIADPRO-REGULAR.woff);
}
@font-face {
    font-family: "myriadpro-light";
    src: url(media/font/MyriadPro-Light.otf);
}
@font-face {
    font-family: "myriadpro-semibold";
    src: url(media/font/MYRIADPRO-SEMIBOLD.OTF);
}
@font-face {
    font-family: "myriadpro-bold";
    src: url(media/font/MYRIADPRO-BOLD.OTF);
}

html, body{
    background-color: #ffffff;
    background-size: cover;
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    text-align: center;
    padding: 0;
    margin: 0;
}
.main{
    display: flex;
    justify-content: center;
}
.main-container{
    position: fixed;
    left: 0vi;
    top: 0vi;
}
.icon{
    width: 1.5vi;
}

.bar{
    position: absolute;
    margin: 0;
    padding: 1vi 0; 
    top:0;
    display: flex;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content:center;
    text-align: center;
    height: 2.2vi;
    width: 100%;
    border-bottom: 0.1vi solid #0000009a;
    position: absolute;
    right: 0;
}

.main-bar{
    position: absolute;
    font-family: myriadpro-regular;
    font-size: 1vi;
    font-weight: 600;
    margin: 0;
    padding: 0vi;
    top:0;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    justify-content:center;
    text-align: center;
    height: 3.3vi;
    width: 100%;} /*Dejar esto quieto*/

/*Iconos L*/
.box-1{
    top: 0;
    display: grid;
    text-align: left;
    position:absolute;
    margin: 0;
    padding: 0.8vi;
    width: 36vi;
    left: 5vi;
    height: 2.5vi;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 8vi;
    grid-row-gap: 0vi;
    padding-left: 2vi;}

.add{
    text-decoration: none;
    color: #000000;
    display: inline-block;
    position: absolute;
    margin-left: 2vi;
    }
.add-icon{
    display: inline-block;
    position: absolute;
    top:1.5vi}

.reload{
    text-decoration: none;
    color: #000000;
    display: inline-block;
    position: absolute;
    margin-left: 2vi;}

.reload-icon{
    display: inline-block;
    position: absolute;
    top:1.4vi}

.delete{
    text-decoration: none;
    color: #000000;
    display: inline-block;
    position: absolute;
    margin-left: 2vi;}
.delete-icon{
    display: inline-block;
    position: absolute;
    width: 2vi;
    top:1.2vi}

/*Iconos R*/
.box-2{
    top: 0;
    display: grid;
    text-align: left;
    position:absolute;
    margin: 0;
    padding: 1vi;
    width: 22vi;
    right: 13vi;
    height: 2.5vi;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 9vi;
    grid-row-gap: 0vi;
    padding-left: 3vi;}

.report{
    text-decoration: none;
    color: #000000;
    display: inline-block;
    position: absolute;
    top: 0.8vi;
    margin-left: 2vi;}
.report-icon{
    display: inline-block;
    position: absolute;
    width: 2vi;
    top:1.2vi;
    left: 2.6vi
}

.help{
    text-decoration: none;
    color: #000000;
    display: inline-block;
    position: absolute;
    top: 0.8vi;
    margin-left: 2vi;}
.help-icon{
    display: inline-block;
    position: absolute;
    top:1.4vi}

/*Config, notif, pfp*/

.im-a-link{
    cursor: pointer;}

.other1{
    width: 2.5vi;
    top: 0.8vi;
    position: absolute;
    right: 1vi;
    border-radius: 10vi;
    border: 0.1vi solid #636363;}

.other2{
    width: 1.2vi;
    top: 1.4vi;
    position: absolute;
    right: 4.6vi;}

.other3{
    top: 1.5vi;
    position: absolute;
    right: 7vi;
    width: 1.4vi;
}
.perf {
    position: fixed;
    display: flex;
    margin-left: 20vi;
}
summary {
    cursor: pointer;
    position: fixed;
    display: flex;   
    width: 2.5vi;
    height: 2.5vi;
    margin-left: 76.4vi;
    margin-top: 0.8vi;
}
.marcoperf {
    position: fixed;
    display: flex;
    width: 22.2vi;
    height: 28.2vi;
    background-color: #fcfcfc;
    border-color: #868686;
    border-width: 1px;
    border-radius: 2vi;
    border-style: solid;
    margin-left: 56vi;
    margin-top: 5vi;
}
.txtperf1 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-semibold";
    font-size: 2.2vi;
    margin-left: 61.5vi;
    margin-top: 17.7vi;
}
.txtperf2 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-light";
    font-size: 1.5vi;
    margin-left: 61.6vi;
    margin-top: 21.7vi;
}
.marcoperf2 {
    position: fixed;
    display: flex;
    width: 15vi;
    height: 2.8vi;
    background-color: #fcfcfc;
    border-color: #868686;
    border-width: 1px;
    border-radius: 2vi;
    border-style: solid;
    margin-left: 60vi;
    margin-top: 21.2vi;
}
.txtperf3 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    font-size: 1.5vi;
    color: #ffffff;
    margin-left: 62.2vi;
    margin-top: 23.9vi;
}
.marcoperf3 {
    position: fixed;
    display: flex;
    width: 15vi;
    height: 2.8vi;
    background-color: #FF7221;
    border-color: #ffffff;
    border-width: 1px;
    border-radius: 2vi;
    border-style: solid;
    margin-left: 60vi;
    margin-top: 24.8vi;
}
.salid {
    position: fixed;
    display: flex;
    width: 1.8vi;
    margin-left: 72vi;
    margin-top: 25.3vi;
}
.txtperf4 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-light";
    font-size: 1vi;
    color: #000000;
    margin-left: 58.5vi;
    margin-top: 30.8vi;
}
.pfp2 {
    position: fixed;
    display: flex;
    width: 8.6vi;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1vi;
    margin-left: 63vi;
    margin-top: 8vi;
}        
.txt1 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    font-size: 3.2vi;
    margin-left: 38.8vi;
    margin-top: 5vi;
}
.deletelogo2 {
    position: fixed;
    display: flex;
    width: 2.2vi;
    margin-left: 35.5vi;
    margin-top: 5.3vi;
}
.txt2 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-light";
    font-size: 1.7vi;
    margin-left: 34.8vi;
    margin-top: 10.5vi;
}
.marco1 {
    position: fixed;
    display: flex;
    width: 31.2vi;
    height: 23.2vi;
    background-color: #ffffff;
    border-color: #868686;
    border-width: 1px;
    border-style: solid;
    margin-top: 17.5vi;
    margin-left: 35vi;
}
.txt3 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    font-size: 1.7vi;
    margin-left: 36.6vi;
    margin-top: 19.5vi;
}
.select {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    border-radius: 2vi;
    font-size: 1.2vi;
    width: 28vi;
    height: 2.5vi;
    margin-left: 36.6vi;
    margin-top: 22vi;
}
.txt4 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    font-size: 1.7vi;
    margin-left: 36.6vi;
    margin-top: 26.2vi;
}
.input1 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    border-width: 0.1vi;
    border-radius: 2vi;
    font-size: 1.2vi;
    width: 27.5vi;
    height: 2.1vi;
    margin-left: 36.6vi;
    margin-top: 29vi;
}
.txt5 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    font-size: 1.7vi;
    margin-left: 36.6vi;
    margin-top: 33.2vi;
}
.input2 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    border-width: 0.1vi;
    border-radius: 2vi;
    font-size: 1.2vi;
    width: 27.5vi;
    height: 2.1vi;
    margin-left: 36.6vi;
    margin-top: 36.2vi;
}
.txt6 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-bold";
    color: #ff0000;
    font-size: 1.5vi;
    margin-left: 35.5vi;
    margin-top: 29.5vi;
}
.txt7 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-bold";
    color: #ff0000;
    font-size: 1.5vi;
    margin-left: 35.5vi;
    margin-top: 36.7vi;
}
.boton1 {
    position: fixed;
    display: flex;
    width: 20.4vi;
    height: 4vi;
    background-color: #dddddd;
    border-radius: 2vi;
    border-color: #868686;
    border-width: 1px;
    border-style: solid;
    margin-top: 45.5vi;
    margin-left: 28.9vi;
}
.txt8 {
    position: fixed;
    display: flex;
    font-size: 1.7vi;
    font-family: "myriadpro-regular";
    margin-left: 36vi;
    margin-top: 46.5vi;
}
.boton2 {
    position: fixed;
    display: flex;
    width: 20.4vi;
    height: 4vi;
    background-color: #FF7221;
    border-radius: 2vi;
    border-color: #ffffff;
    border-width: 0px;
    border-style: solid;
    margin-top: 45.5vi;
    margin-left: 50.9vi;
}
.txt9 {
    position: fixed;
    display: flex;
    font-size: 1.7vi;
    font-family: "myriadpro-regular";
    color: #ffffff;
    margin-left: 55vi;
    margin-top: 46.5vi;
}
.linea {
    position: fixed;
    display: flex;
    width: 8.5vi;
    height: 0.3vi;
    background-color: #FF7221;
    margin-top: 3.7vi;
    margin-left: 35vi;
}

@media (max-width: 1024px){
    .boton1 {
        position: fixed;
        display: flex;
        width: 45.4vi;
        height: 8.5vi;
        background-color: #dddddd;
        border-radius: 4vi;
        border-color: #868686;
        border-width: 1px;
        border-style: solid;
        margin-top: 145.5vi;
        margin-left: 28vi;
    }
    .txt8 {
        position: fixed;
        display: flex;
        font-size: 6vi;
        font-family: "myriadpro-regular";
        margin-left: 39vi;
        margin-top: 145.6vi;
    }
    .boton2 {
        position: fixed;
        display: flex;
        width: 45.4vi;
        height: 8.5vi;
        background-color: #FF7221;
        border-radius: 4vi;
        border-color: #ffffff;
        border-width: 0px;
        border-style: solid;
        margin-top: 130.5vi;
        margin-left: 28vi;
    }
    .txt9 {
        position: fixed;
        display: flex;
        font-size: 5.7vi;
        font-family: "myriadpro-regular";
        color: #ffffff;
        margin-left: 30.2vi;
        margin-top: 130.9vi;
    }
    .marco1 {
        position: fixed;
        display: flex;
        width: 81.2vi;
        height: 63.2vi;
        background-color: #ffffff;
        border-color: #868686;
        border-width: 1px;
        border-style: solid;
        margin-top: 57vi;
        margin-left: 10vi;
    }
    .txt3 {
        position: fixed;
        display: flex;
        font-family: "myriadpro-regular";
        font-size: 5.2vi;
        margin-left: 12.6vi;
        margin-top: 60.5vi;
    }
    .select {
        position: fixed;
        display: flex;
        font-family: "myriadpro-regular";
        border-radius: 2vi;
        font-size: 2.2vi;
        width: 75vi;
        height: 6vi;
        margin-left: 12.6vi;
        margin-top: 68vi;
    }
    .txt4 {
        position: fixed;
        display: flex;
        font-family: "myriadpro-regular";
        font-size: 5.2vi;
        margin-left: 12.6vi;
        margin-top: 80vi;
    }
    .input1 {
        position: fixed;
        display: flex;
        font-family: "myriadpro-regular";
        border-width: 0.1vi;
        border-radius: 2vi;
        font-size: 5.2vi;
        width: 75vi;
        height: 6vi;
        margin-left: 12.6vi;
        margin-top: 88vi;
    }
    .txt5 {
        position: fixed;
        display: flex;
        font-family: "myriadpro-regular";
        font-size: 5.2vi;
        margin-left: 12.6vi;
        margin-top: 100.5vi;
    }
    .input2 {
        position: fixed;
        display: flex;
        font-family: "myriadpro-regular";
        border-width: 0.1vi;
        border-radius: 2vi;
        font-size: 5.2vi;
        width: 75vi;
        height: 6vi;
        margin-left: 12.6vi;
        margin-top: 107.5vi;
    }
    .txt6 {
        position: fixed;
        display: flex;
        font-family: "myriadpro-bold";
        color: #ff0000;
        font-size: 4.5vi;
        margin-left: 10.3vi;
        margin-top: 88.5vi;
    }
    .txt7 {
        position: fixed;
        display: flex;
        font-family: "myriadpro-bold";
        color: #ff0000;
        font-size: 4.5vi;
        margin-left: 10.3vi;
        margin-top: 108.7vi;
    }
    .txt1 {
        position: fixed;
        display: flex;
        font-family: "myriadpro-regular";
        font-size: 7.2vi;
        margin-left: 20.8vi;
        margin-top: 25vi;
    }
    .deletelogo2 {
        position: fixed;
        display: flex;
        width: 5.2vi;
        margin-left: 46.5vi;
        margin-top: 13vi;
    }
    .txt2 {
        position: fixed;
        display: flex;
        font-family: "myriadpro-light";
        font-size: 4.7vi;
        margin-left: 7.8vi;
        margin-top: 40.5vi;
    }
    .perf {
        position: fixed;
        display: flex;
        margin-left: 20vi;}

    summary {
        font-family: myriadpro-regular;
        cursor: pointer;
        position: fixed;
        display: flex;   
        width: 3.5vi;
        height: 3.5vi;
        margin-left: 75.2vi;
        margin-top: 0.8vi;}
    .marcoperf {
            position: fixed;
            display: flex;
            width: 38.2vi;
            height: 56vi;
            background-color: #fcfcfc;
            border-color: #868686;
            border-width: 1px;
            border-radius: 2vi;
            border-style: solid;
            margin-left: 40vi;
            margin-top: 6.5vi;
        }
    .txtperf1 {
            position: fixed;
            display: flex;
            font-family: "myriadpro-semibold";
            font-size: 5.2vi;
            margin-left: 45.5vi;
            margin-top: 27.7vi;
        }
    .txtperf2 {
            position: fixed;
            display: flex;
            font-family: "myriadpro-light";
            font-size: 3.5vi;
            margin-left: 45.6vi;
            margin-top: 37.2vi;
        }
    .marcoperf2 {
            position: fixed;
            display: flex;
            width: 28.5vi;
            height: 5.8vi;
            background-color: #fcfcfc;
            border-color: #868686;
            border-width: 1px;
            border-radius: 3vi;
            border-style: solid;
            margin-left: 45vi;
            margin-top: 36.2vi;
        }
    .txtperf3 {
            position: fixed;
            display: flex;
            font-family: "myriadpro-regular";
            color: #ffffff;
            font-size: 3.5vi;
            margin-left: 46vi;
            margin-top: 42.7vi;
        }
    .marcoperf3 {
            position: fixed;
            display: flex;
            width: 28.5vi;
            height: 5.8vi;
            background-color: #FF7221;
            border-color: #ffffff;
            border-width: 1px;
            border-radius: 3vi;
            border-style: solid;
            margin-left: 45vi;
            margin-top: 45.2vi;
        }
    .salid {
            position: fixed;
            display: flex;
            width: 4.5vi;
            margin-left: 67vi;
            margin-top: 45.8vi;
        }
    .txtperf4 {
            position: fixed;
            display: flex;
            font-family: "myriadpro-light";
            font-size: 2vi;
            color: #000000;
            margin-left: 41.8vi;
            margin-top: 58.8vi;
        }
    .pfp2 {
            position: fixed;
            display: flex;
            width: 18.6vi;
            border-radius: 50%;
            border-style: solid;
            border-width: 0.1vi;
            margin-left: 50.5vi;
            margin-top: 8vi;
        }
    html, body{
            font-family: myriadpro-regular;
            background-color: #ffffff;
            background-size: cover;
            width: 100%;
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 0;
            margin: 0;}
        
    .icon{
                width: 4vi;}
    .bar{
                position: absolute;
                margin: 0;
                padding: 1vi 0; 
                top:0;
                display: flex;
                grid-template-columns:repeat(3, 1fr);
                grid-template-rows: 1fr;
                justify-content:center;
                text-align: center;
                height: 5.8vi;
                width: 100%;
                border-bottom: 0.1vi solid #0000009a;
                position: absolute;
                right: 0;}
        
    .main-bar{
                position: absolute;
                font-family: myriadpro-regular;
                font-size: 1vi;
                font-weight: 600;
                margin: 0;
                padding: 0vi;
                top:0;
                display: grid;
                grid-template-columns:repeat(3, 1fr);
                justify-content:center;
                text-align: center;
                height: 3.5vi;
                width: 100%;}
        
        
            /*Iconos L*/
    .box-1{
                top: 0;
                display: grid;
                text-align: left;
                position:absolute;
                margin: 0;
                padding: 0.8vi;
                width: 32vi;
                left: 5.5vi;
                height:5vi;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 8vi;
                grid-row-gap: 0vi;
                padding-left: 2vi;}
        
    .add{
                text-decoration: none;
                color: #000000;
                display: inline-block;
                position: absolute;
                margin-left: 2vi;
                display: none;}
    .add-icon{
                display: inline-block;
                position: absolute;
                width: 4.2vi;
                top:1.5vi;
            }
        
    .reload{
                text-decoration: none;
                color: #000000;
                display: inline-block;
                position: absolute;
                margin-left: 2vi;
                display: none;}
    .reload-icon{
                display: inline-block;
                position: absolute;
                width: 4.2vi;
                top:1.4vi}
        
    .delete{
                text-decoration: none;
                color: #000000;
                display: inline-block;
                position: absolute;
                margin-left: 2vi;
                display: none;}
    .delete-icon{
                display: inline-block;
                position: absolute;
                width: 6vi;
                top:0.5vi}
        
            /*Iconos R*/
    .box-2{
                top: 0;
                display: grid;
                text-align: left;
                position:absolute;
                margin: 0;
                padding: 1vi;
                width: 19vi;
                right: 20vi;
                height: 5vi;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 10vi;
                grid-row-gap: 0vi;
                padding-left: 3vi;}
        
    .report{
                text-decoration: none;
                color: #000000;
                display: inline-block;
                position: absolute;
                top: 0.8vi;
                margin-left: 2vi;
                display: none;}
    .report-icon{
                display: inline-block;
                position: absolute;
                width: 5.5vi;
                top:0.5vi;
                left: 2.6vi}
        
    .help{
                text-decoration: none;
                color: #000000;
                display: inline-block;
                position: absolute;
                top: 0.8vi;
                margin-left: 2vi;
                display: none;}
    .help-icon{
                display: inline-block;
                position: absolute;
                top:1vi;
                width: 4.5vi;}
        /*yippee*/
        
        
        /*Config, notif, pfp*/
        
    .im-a-link{
                cursor: pointer;}
        
    .other1{
                width: 5vi;
                top: 0.8vi;
                position: absolute;
                right: 1vi;
                border-radius: 10vi;
                border: 0.1vi solid #636363;}
        
    .other2{
                width: 3vi;
                top: 1.6vi;
                position: absolute;
                right: 7.5vi;}
        
    .other3{
                top: 1.6vi;
                position: absolute;
                right: 12vi;
                width: 3.5vi;}       
    .linea {
        position: fixed;
        display: flex;
        width: 8.5vi;
        height: 0.3vi;
        background-color: #FF7221;
        margin-top: 7vi;
        margin-left: 33vi;}
}