@font-face {
    font-family: "myriadpro-regular";
    src: url(/media/font/MYRIADPRO-REGULAR.woff);
}
@font-face {
    font-family: "myriadpro-light";
    src: url(/media/font/MyriadPro-Light.otf);
}
@font-face {
    font-family: "myriadpro-semibold";
    src: url(/media/font/MYRIADPRO-SEMIBOLD.OTF);
}
@font-face {
    font-family: "myriadpro-bold";
    src: url(/media/font/MYRIADPRO-BOLD.OTF);
}


html{
    background-color: #ffffff;
    background-size: cover;
    padding: 0;
    margin: 0;
}
.main{
    display: flex;
    justify-content: center;
}
.main-container{
    position: fixed;
    left: 0vi;
    top: 0vi;
}
.icon{
    width: 1.5vi;
}

.bar{
    position: absolute;
    margin: 0;
    padding: 1vi 0; 
    top:0;
    display: flex;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content:center;
    text-align: center;
    height: 2.2vi;
    width: 100%;
    border-bottom: 0.1vi solid #0000009a;
    position: absolute;
    right: 0;
}

.main-bar{
    position: absolute;
    font-family: myriadpro-regular;
    font-size: 1vi;
    font-weight: 600;
    margin: 0;
    padding: 0vi;
    top:0;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    justify-content:center;
    text-align: center;
    height: 3.3vi;
    width: 100%;} /*Dejar esto quieto*/

/*Iconos L*/
.box-1{
    top: 0;
    display: grid;
    text-align: left;
    position:absolute;
    margin: 0;
    padding: 0.8vi;
    width: 36vi;
    left: 5vi;
    height: 2.5vi;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 8vi;
    grid-row-gap: 0vi;
    padding-left: 2vi;}

.add{
    text-decoration: none;
    color: #000000;
    display: inline-block;
    position: absolute;
    margin-left: 2vi;
    }
.add-icon{
    display: inline-block;
    position: absolute;
    top:1.5vi}

.reload{
    text-decoration: none;
    color: #000000;
    display: inline-block;
    position: absolute;
    margin-left: 2vi;}

.reload-icon{
    display: inline-block;
    position: absolute;
    top:1.4vi}

.delete{
    text-decoration: none;
    color: #000000;
    display: inline-block;
    position: absolute;
    margin-left: 2vi;}
.delete-icon{
    display: inline-block;
    position: absolute;
    width: 2vi;
    top:1.2vi}

/*Iconos R*/
.box-2{
    top: 0;
    display: grid;
    text-align: left;
    position:absolute;
    margin: 0;
    padding: 1vi;
    width: 22vi;
    right: 13vi;
    height: 2.5vi;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 9vi;
    grid-row-gap: 0vi;
    padding-left: 3vi;}

.report{
    text-decoration: none;
    color: #000000;
    display: inline-block;
    position: absolute;
    top: 0.8vi;
    margin-left: 2vi;}
.report-icon{
    display: inline-block;
    position: absolute;
    width: 2vi;
    top:1.2vi;
    left: 2.6vi
}

.help{
    text-decoration: none;
    color: #000000;
    display: inline-block;
    position: absolute;
    top: 0.8vi;
    margin-left: 2vi;}
.help-icon{
    display: inline-block;
    position: absolute;
    top:1.4vi}

/*Config, notif, pfp*/

.im-a-link{
    cursor: pointer;}

.other1{
    width: 2.5vi;
    top: 0.8vi;
    position: absolute;
    right: 1vi;
    border-radius: 10vi;
    border: 0.1vi solid #636363;}

.other2{
    width: 1.2vi;
    top: -2.9vi;
    position: absolute;
    right: 4.5vi;}

.other3{
    top: 1.5vi;
    position: absolute;
    right: 7vi;
    width: 1.4vi;
}
.perf {
    position: fixed;
    display: flex;
    margin-left: 20vi;
}
summary {
    cursor: pointer;
    position: fixed;
    display: flex;
    border-width: 1px;
    border-radius: 2vi;
    border-style: solid;    
    width: 2.5vi;
    height: 2.5vi;
    margin-left: 76.4vi;
    margin-top: 0.8vi;
}
.marcoperf {
    position: fixed;
    display: flex;
    width: 22.2vi;
    height: 28.2vi;
    background-color: #fcfcfc;
    border-color: #868686;
    border-width: 1px;
    border-radius: 2vi;
    border-style: solid;
    margin-left: 56vi;
    margin-top: 5vi;
}
.txtperf1 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-semibold";
    font-size: 2.2vi;
    margin-left: 61.5vi;
    margin-top: 17.7vi;
}
.txtperf2 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-light";
    font-size: 1.5vi;
    margin-left: 61.6vi;
    margin-top: 21.7vi;
}
.marcoperf2 {
    position: fixed;
    display: flex;
    width: 15vi;
    height: 2.8vi;
    background-color: #fcfcfc;
    border-color: #868686;
    border-width: 1px;
    border-radius: 2vi;
    border-style: solid;
    margin-left: 60vi;
    margin-top: 21.2vi;
}
.txtperf3 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    font-size: 1.5vi;
    color: #ffffff;
    margin-left: 62.2vi;
    margin-top: 23.9vi;
}
.marcoperf3 {
    position: fixed;
    display: flex;
    width: 15vi;
    height: 2.8vi;
    background-color: #FF7221;
    border-color: #ffffff;
    border-width: 1px;
    border-radius: 2vi;
    border-style: solid;
    margin-left: 60vi;
    margin-top: 24.8vi;
}
.salid {
    position: fixed;
    display: flex;
    width: 1.8vi;
    margin-left: 72vi;
    margin-top: 25.3vi;
}
.txtperf4 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-light";
    font-size: 1vi;
    color: #000000;
    margin-left: 58.5vi;
    margin-top: 30.8vi;
}
.pfp2 {
    position: fixed;
    display: flex;
    width: 8.6vi;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1vi;
    margin-left: 63vi;
    margin-top: 8vi;
}

.txt1 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    font-size: 3.2vi;
    margin-left: 38.8vi;
    margin-top: 5vi;
}
.addlogo2 {
    position: fixed;
    display: flex;
    width: 2.2vi;
    margin-left: 35.5vi;
    margin-top: 5.9vi;
}
.txt2 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-light";
    font-size: 1.7vi;
    text-align: center;
    margin-left: 25.8vi;
    margin-top: 9.5vi;
}
.marco1 {
    position: fixed;
    display: flex;
    width: 95.8vi;
    height: 26.2vi;
    background-color: #ffffff;
    border-color: #868686;
    border-width: 1px;
    border-style: solid;
    margin-top: 12.5vi;
    margin-left: 2vi;
}
.marco2 {
    position: fixed;
    display: flex;
    width: 31.8vi;
    height: 26.2vi;
    background-color: #ffffff;
    border-color: #868686;
    border-width: 1px;
    border-style: solid;
    margin-top: 12.5vi;
    margin-left: 34vi;
}
.txt3 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    font-size: 1.7vi;
    margin-left: 3.6vi;
    margin-top: 15.2vi;
}
.input1 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    border-width: 0.1vi;
    border-radius: 2vi;
    font-size: 1.2vi;
    width: 27.5vi;
    height: 2.1vi;
    margin-left: 3.6vi;
    margin-top: 18vi;
}
.txt4 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    font-size: 1.7vi;
    margin-left: 3.6vi;
    margin-top: 23.2vi;
}
.input2 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    border-width: 0.1vi;
    border-radius: 2vi;
    font-size: 1.2vi;
    width: 27.5vi;
    height: 2.1vi;
    margin-left: 3.6vi;
    margin-top: 26.2vi;
}
.txt5 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    font-size: 1.7vi;
    margin-left: 3.6vi;
    margin-top: 31.2vi;
}
.input3 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    border-width: 0.1vi;
    border-radius: 2vi;
    font-size: 1.2vi;
    width: 27.5vi;
    height: 2.1vi;
    margin-left: 3.6vi;
    margin-top: 34.2vi;
}
.txt6 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    font-size: 1.7vi;
    margin-left: 35.6vi;
    margin-top: 15.2vi;
}
.input4 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    border-width: 0.1vi;
    border-radius: 2vi;
    font-size: 1.2vi;
    width: 27.5vi;
    height: 2.1vi;
    margin-left: 35.6vi;
    margin-top: 18vi;
}
.txt7 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    font-size: 1.7vi;
    margin-left: 35.6vi;
    margin-top: 23.2vi;
}
.input5 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    border-width: 0.1vi;
    border-radius: 2vi;
    font-size: 1.2vi;
    width: 27.5vi;
    height: 2.1vi;
    margin-left: 35.6vi;
    margin-top: 26.2vi;
}
.txt8 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    font-size: 1.7vi;
    margin-left: 67.6vi;
    margin-top: 31.2vi;
}
.input6 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    border-width: 0.1vi;
    border-radius: 2vi;
    font-size: 1.2vi;
    width: 27.5vi;
    height: 2.1vi;
    margin-left: 67.6vi;
    margin-top: 34.2vi;
}
.txt9 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    font-size: 1.7vi;
    margin-left: 67.6vi;
    margin-top: 15.2vi;
}
.input7 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    border-width: 0.1vi;
    border-radius: 2vi;
    font-size: 1.2vi;
    width: 27.5vi;
    height: 2.1vi;
    margin-left: 67.6vi;
    margin-top: 18vi;
}
.txt10 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    font-size: 1.7vi;
    margin-left: 67.6vi;
    margin-top: 23.2vi;
}
.input8 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    border-width: 0.1vi;
    border-radius: 2vi;
    font-size: 1.2vi;
    width: 27.5vi;
    height: 2.1vi;
    margin-left: 67.6vi;
    margin-top: 26.2vi;
}
.txt11 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    font-size: 1.7vi;
    margin-left: 35.6vi;
    margin-top: 31.2vi;
}
.input9 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-regular";
    border-width: 0.1vi;
    border-radius: 2vi;
    font-size: 1.2vi;
    width: 27.5vi;
    height: 2.1vi;
    margin-left: 35.6vi;
    margin-top: 34.2vi;
}
.txt12 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-semibold";
    font-size: 1.2vi;
    margin-left: 5vi;
    margin-top: 40.2vi;
}
.txt13 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-semibold";
    font-size: 1.2vi;
    margin-left: 19vi;
    margin-top: 40.2vi;
}
.txt14 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-semibold";
    font-size: 1.2vi;
    margin-left: 32vi;
    margin-top: 40.2vi;
}
.txt15 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-semibold";
    font-size: 1.2vi;
    margin-left: 39.5vi;
    margin-top: 40.2vi;
}
.txt16 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-semibold";
    font-size: 1.2vi;
    margin-left: 49.5vi;
    margin-top: 40.2vi;
}
.txt17 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-semibold";
    font-size: 1.2vi;
    margin-left: 62.5vi;
    margin-top: 40.2vi;
}
.txt18 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-semibold";
    font-size: 1.2vi;
    margin-left: 69vi;
    margin-top: 40.2vi;
}
.txt19 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-semibold";
    font-size: 1.2vi;
    margin-left: 76.5vi;
    margin-top: 40.2vi;
}
.txt20 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-semibold";
    font-size: 1.2vi;
    margin-left: 87.5vi;
    margin-top: 40.2vi;
}
.marcoej {
    position: fixed;
    display: flex;
    width: 89.2vi;
    height: 4.2vi;
    background-color: #ffffff;
    border-color: #868686;
    border-width: 1px;
    border-radius: 1.7vi;
    border-style: solid;
    margin-top: 42.5vi;
    margin-left: 3.8vi;
}
.txt21 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-light";
    font-size: 1.2vi;
    margin-left: 6.5vi;
    margin-top: 43.9vi;
}
.txt22 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-light";
    font-size: 1.2vi;
    margin-left: 21vi;
    margin-top: 43.9vi;
}
.txt23 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-light";
    font-size: 1.2vi;
    margin-left: 33.8vi;
    margin-top: 43.9vi;
}
.txt24 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-light";
    font-size: 1.2vi;
    margin-left: 41.3vi;
    margin-top: 43.9vi;
}
.txt25 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-light";
    font-size: 1.2vi;
    margin-left: 53vi;
    margin-top: 43.9vi;
}
.txt26 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-light";
    font-size: 1.2vi;
    margin-left: 63.8vi;
    margin-top: 43.9vi;
}
.txt27 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-light";
    font-size: 1.2vi;
    margin-left: 71vi;
    margin-top: 43.9vi;
}
.txt28 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-light";
    font-size: 1.2vi;
    margin-left: 79.5vi;
    margin-top: 43.9vi;
}
.txt29 {
    position: fixed;
    display: flex;
    font-family: "myriadpro-light";
    font-size: 1.2vi;
    margin-left: 87.8vi;
    margin-top: 43.9vi;
}
.barra {
    position: absolute;
    display: flex;
    width: 2vi;
    margin-left: 93.7vi;
    margin-top: 43.7vi;
}
.circulo {
    position: absolute;
    display: flex;
    border-color: #999999;
    border-width: 0.4vi;
    border-style: solid;
    border-radius: 50%;
    width: 2.4vi;
    height: 2.4vi;
    margin-left: 78.8vi;
    margin-top: 42.9vi; 
}
.boton1 {
    position: fixed;
    display: flex;
    width: 20.4vi;
    height: 4vi;
    background-color: #dddddd;
    border-radius: 2vi;
    border-color: #868686;
    border-width: 1px;
    border-style: solid;
    margin-top: 48.5vi;
    margin-left: 28.9vi;
}
.cancel {
    position: fixed;
    display: flex;
    font-size: 1.7vi;
    font-family: "myriadpro-regular";
    margin-left: 36vi;
    margin-top: 49.5vi;
}
.boton2 {
    position: fixed;
    display: flex;
    width: 20.4vi;
    height: 4vi;
    background-color: #FF7221;
    border-radius: 2vi;
    border-color: #ffffff;
    border-width: 0px;
    border-style: solid;
    margin-top: 48.5vi;
    margin-left: 50.9vi;
}
.save {
    position: fixed;
    display: flex;
    font-size: 1.7vi;
    font-family: "myriadpro-regular";
    color: #ffffff;
    margin-left: 55vi;
    margin-top: 49.5vi;
}
.linea {
    position: fixed;
    display: flex;
    width: 8.5vi;
    height: 0.3vi;
    background-color: #FF7221;
    margin-top: 3.7vi;
    margin-left: 5.5vi;
}