@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('media/font/MYRIADPRO-REGULAR.woff') format("woff");}

@font-face {
    font-family: 'Myriad Pro Light';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('media/font/MyriadPro-Light.woff') format("woff");}
    
html{
    background-image: url("media/pexels-pixabay-159400@2x.png");
    background-color: #000000;    
    object-fit:none;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: "Myriad Pro Regular";
    overflow: auto;}
html, body{
    margin: 0;
    padding: 0;
    z-index: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;}


/*LOGO ANIMACIÓN*/
.logo-center{
    margin: 0;
    padding: 0;
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;}
.logo{
    opacity: 100%;
    position:absolute;
    z-index: 0;
    width: 10vi;}
/**/

/*CUADRO*/
.modal{
    margin: 0;
    padding: 0;
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;}

.modal-container{
    opacity: 100%;
    position: absolute;
    width: 44vi;
    height: 25vi;
    border-radius: 3.5vi;
    background-color: #ffffff;
    text-align: center;
    justify-content: center;
    padding: 2.6vi;
    padding-left: 4vi;
    padding-right: 4vi;
    border: 0.1vi solid #636363;
    animation: disappear 5s 4s;}
@keyframes disappear {
        0%{
            opacity: 100%;
        }
        5%{
            opacity: 0%;
        }
        50%{
            opacity: 0%;
        }
        90%{
            opacity: 0%;
        }
        100%{
            opacity: 0%;
        }}

.welcome{
    font-size: 2vi;
    font-weight: 500;
    margin: 0.6vi;
    margin-top: 2vi;}
.logomedia{
    width: 5.3vi;
    margin: 0vi;
    cursor: pointer;}

.user-icon{
    margin-top: 0.7vi;
    width: 5.8vi;
    border-radius: 20vi;
    border: solid #ff721b 0.1vi;}
.user-name{
    font-size: 2vi;
    font-weight: 500;
    margin: 0.6vi;
    margin-top: 0.5vi;}
.user-type{
    margin-top: 1.3vi;
    font-size: 1vi;
    font-family: 'Myriad Pro Light';}

/*MEDIA :D*/


@media (max-width:720px) and (max-height:1600px){
    html{
        background-image: url("media/pexels-pixabay-159400@2x.png");
        background-color: #000000;    
        object-fit:none;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        font-family: "Myriad Pro Regular";
        overflow: auto;}
    html, body{
        margin: 0;
        padding: 0;
        z-index: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        text-align: center;}
        
    /*LOGO ANIMACIÓN*/
    .logo-center{
        margin: 0;
        padding: 0;
        z-index: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;}
    .logo{
        opacity: 100%;
        position:absolute;
        z-index: 0;
        width: 30vi;}
        
    /*CUADRO*/
    .modal{
        margin: 0;
        padding: 0;
        z-index: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;}
        
    .modal-container{
        opacity: 100%;
        position: absolute;
        width: 69vi;
        height: 90vi;
        border-radius: 3.5vi;
        background-color: #ffffff;
        text-align: center;
        justify-content: center;
        padding: 3vi;
        padding-left: 4vi;
        padding-right: 4vi;
        border: 0.1vi solid #636363;
        animation: disappear 5s 4s;}

    @keyframes disappear {
        0%{
           opacity: 100%;
        }
        5%{
            opacity: 0%;
        }
        50%{
            opacity: 0%;
            }
        90%{
            opacity: 0%;
        }
        100%{
            opacity: 0%;
        }}
        
    .welcome{
        font-size: 5.5vi;
        font-weight: 500;
        margin: 0.6vi;}
    .logomedia{
        width: 17vi;
        margin: 0vi;
        margin-top: 11vi;
        margin-bottom: 1.5vi;
        cursor: pointer;}
    
    .user-icon{
        margin-top: 2vi;
        width: 20vi;
        border-radius: 20vi;
        border: solid #ff721b 0.1vi;}
    .user-name{
        font-size: 4.5vi;
        font-weight: 500;
        margin: 0.6vi;
        margin-top: 3vi;}
    .user-type{
        margin-top: 1.3vi;
        font-size: 3vi;
        font-family: 'Myriad Pro Light';}
}
